/*
/*/
!.gitignore
!/.vscode/
!/config/
!/datapacks/
!/global_packs/
!/journeymap/
!/CustomSkinLoader/
/CustomSkinLoader/*
!/CustomSkinLoader/Plugins
!/CustomSkinLoader/CustomSkinLoader.json
/journeymap/*
!/journeymap/config/
!/journeymap/server/
!/mods/
!/resourcepacks/
!/shaderpacks/
!/options*.txt